.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2.5em 1em 1em;
}

.header__link{
    display: flex;
    gap: 1.5em;
}

.header__link__links{
    text-decoration: none;
    color: var(--fonte-branca);
    font-weight: 500;
}

.header__link__links-home{
    text-decoration: none;
    color: var(--fonte-laranja);
    font-weight: 500;
}
