.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 3em 1em 1em;
}

.header__link{
    display: flex;
    gap: 1.5em;
}

.header__link__links{
    text-decoration: none;
    color: var(--fonte-branca);
    font-weight: 500;
}